

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
</head>
<body>

  <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 130px;">
    <div class="layui-form-item">
      <label class="layui-form-label">用户名称</label>
      <div class="layui-input-inline">
        <input type="text" name="UserId" id="UserId" lay-verify="required" disabled class="layui-input layui-disabled">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">用户密码</label>
      <div class="layui-input-inline">
        <input type="text" name="UserPwd" id="UserPwd" lay-verify="required" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">有效日期</label>
      <div class="layui-input-inline">
        <input type="text" name="Date" lay-verify="required" placeholder="请选择有效日期" autocomplete="off" id="date" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邀请人邀请码</label>
        <div class="layui-input-inline">
            <input type="text" name="Inviter" id="Inviter" disabled class="layui-input layui-disabled">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">本人邀请码</label>
        <div class="layui-input-inline">
            <input type="text" name="InviteCode" id="InviteCode" placeholder="请输入邀请码" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit" value="确认添加">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate', 'setToken'], function(){
    var $ = layui.$
    ,laydate = layui.laydate;

    //获取url参数
    var str = location.search.slice(1), obj = {};
    str.split('&').forEach(function (v, i) {
        var data = v.split('=');
        obj[data[0]] = data[1];
        $('#' + data[0]).val(data[1]==='null'?'':data[1]);
    });
    if($('#InviteCode').val()) {
        $('#InviteCode').addClass('layui-disabled').attr('disabled', 'true');
    }
    //日期范围
    laydate.render({
        elem: '#date'
        ,range: true,
        value: obj.OpenTime && (obj.OpenTime.slice(0, 10) + ' - ' + obj.CloseTime.slice(0, 10))
    });


  })
  </script>
</body>
</html>