

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 内容系统 - 下载统计</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-body">
        <table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
      </div>
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'table', 'setToken'], function(){
    var table = layui.table;
    table.render({
      elem: '#LAY-app-content-list'
      ,url: layui.setter.url + '/query_download' //模拟接口
      ,cols: [[
        {field: 'downloadTime', title: '下载时间', align: 'center', sort: true, templet: function(d) {return d.downloadTime.replace(/T|Z/g, ' ')}}
        ,{field: 'ip', title: 'IP地址', align: 'center'}
      ]]
      ,parseData: function(res){ //res 即为原始返回的数据
          return {
              "code": 0, //解析接口状态
              "msg": res.msg, //解析提示文本
              "count": res.count, //解析数据长度
              "data": res.data //解析数据列表
          };
      }
      ,page: true
      ,limit: 20
      ,limits: [10, 15, 20, 25, 30]
      ,text: '对不起，加载出现异常！'
    });


  });
  </script>
</body>
</html>
